/node_modules
/package-lock.json
/coverage
/dist
/.idea/*
!/.idea/dictionaries
/.idea/dictionaries/*
!/.idea/dictionaries/common.xml
!/.idea/runConfigurations
!/.idea/fileTemplates
!/.idea/file.template.settings.xml
!/.idea/modules.xml
!/.idea/sero.iml


